@import './base.css';

#app {
  font-weight: normal;
}

.MenubarRoot {
  width:80%;
  padding-top:2px !important;
  padding-bottom:2px !important;
  padding-left: clamp(30px,7vw,500px) !important;
  padding-right: clamp(30px,7vw,500px) !important;
  font-family:'Courier New', Courier, monospace;
}

.SeparatorNameCard {
  background-color: #418071;
  height: 10px;
  width: 100%;
}

.SeparatorIntro {
  background-color: white;
  margin-top:10px;
  margin-bottom:40px;
  height: 1px;
  width: 30px;
}

.nameCardTitle {
  /* font-family:'Courier New', Courier, monospace; */
  font-family:Georgia, 'Times New Roman', Times, serif
}

.skillWrap {
  margin-bottom: 15px;
}

.experienceCard {
  display: flex;
  gap:30px;
  margin-bottom:30px;
}

.infoSection {
  width:150px
}

.infoSectionSeperator {
  background-color: white;
  height:1px;
  margin-top: 3px;
  margin-bottom: 3px;
  width:100%;
}

.textSection {
  display:flex;
  flex-direction: column;
  gap:10px;
  padding-top:10px;
}

.messageWrap {
  width:calc(100vw - 17px);
  height:500px;
  background-color: #418071;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width:calc(100vw - 17px);
  height:500px;
  background-color:bisque;
  display:flex;
  align-items: center;
  
}

.splide__arrow {
  /* height:25px;
  width:10px; */
  background-color:#454444;
  opacity: 0.7;
  border-radius: 5px;
}

.splideWrap {
  width:calc(100vw - 17px);
  padding:0;
}

.splide {
  margin:0 !important;
  width: 100% !important;
  padding:0 !important;
}

.splideTrack {
  width:100% !important;
  margin:0 !important;
  color:white;
}

.splideIMG {
  width: 100%;
}

/* .circle {
  position: absolute;
  top: 600px;
  right:0px;
  height: 400px;
  width: 400px;
  border-radius: 100%;
  background-color: #418071;
  z-index: 0;
} */

@keyframes aboutcard-animation {
	0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.card-animation {
  animation: aboutcard-animation 1s 1;
  animation-fill-mode: forwards;
}

.aboutCard {
  display:flex;
  flex-direction: row;
  opacity: 0;
}